<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Channels Form</title>
</head>

<body>

	<div class="container">
		
		<h3 class="h3 mt-4">Channels Directory</h3>
		<hr>
		
		<p class="h4 mb-4 mt-2">Save Employee</p>
	
		<form action="#" th:action="@{/channels/suggest}"
						 th:object="${channel}" method="POST">
		
			
		
			<input type="text" th:field="*{name}"
					class="form-control mb-4 col-4" placeholder="Channel Name">

			<input type="text" th:field="*{URL}"
					class="form-control mb-4 col-4" placeholder="Channel URL">

			<input type="text" th:field="*{country}"
					class="form-control mb-4 col-4" placeholder="Channel Country">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/channels/list}">Back to Channels List</a>
		
	</div>
</body>

</html>










